{{define "bottom"}}

<div style="height: 200px;"></div>

<footer class="bg-white dark:bg-gray-900 w-full fixed inset-x-0 bottom-0">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="self-center font-semibold whitespace-nowrap dark:text-white">© 2024 <a href="/" class="hover:underline">Centrifuge Team</a>. All Rights Reserved.</span>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="https://github.com/Centrifuge-Micro/centrifuge" class="hover:underline me-4 md:me-6">GitHub</a>
                </li>
                <li>
                    <a href="https://discord.gg/nwf2XywJTx" class="hover:underline me-4 md:me-6">Discord</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

</body>

</html>

{{end}}
