{{define "bottom"}}

<div style="height: 200px;"></div>

<footer class="bg-dark dark:bg-gray-900 w-full fixed inset-x-0 bottom-0" style="border-top: 1px solid white;">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="self-center font-semibold whitespace-nowrap dark:text-white">© 2024 <a href="/" class="hover:underline">48hr.dev Team</a>. All Rights Reserved.</span>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="https://github.com/Centrifuge-Micro/48hr.dev" class="hover:underline me-4 md:me-6">GitHub</a>
                </li>
                <li>
                    <a href="https://discord.gg/nwf2XywJTx" class="hover:underline me-4 md:me-6 bg-blue p-2 rounded-lg font-medium discord-link">Join us on Discord</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/relativeTime.min.js"></script>
<script>
    // dayjs.extend(window.dayjs_plugin_advancedFormat);
    // dayjs.extend(window.dayjs_plugin_timezone);
    dayjs.extend(window.dayjs_plugin_relativeTime)
    if ($(".timer").length) {
        function countdownTimeStart(e, started){
            started = started.split(" +")[0];
            var countDownDate = dayjs(started, "YYYY-MM-DD hh:mm:ss").add(2, "d");
            // var countDownDate = dayjs();

            console.log(countDownDate)
            var x = setInterval(function() {
                var temp = dayjs().to(countDownDate);

                if (temp == "a few seconds ago") {
                    e.html("Passed");
                } else {
                    e.html(dayjs().to(countDownDate));
                }
            }, 1000);
        }

        $(".timer").each(function(t) {
            countdownTimeStart($(this), $(this).data("started"))
        })
    }
</script>

</body>

</html>

{{end}}
