{{template "top" .}}

    {{template "nav" .}}

    <div class="max-w-screen-xl grid grid-rows-1 items-center justify-center mx-auto p-4 sm:text-center xl:text-center">
        <h2 class="text-4xl">Build something in 48 hours, together.</h2>
    </div>

    <!-- Projects -->
    <div class="container mx-auto px-4 flex justify-center items-center">
        <div class="max-w-screen-xl rounded-lg overflow-hidden mx-auto">

            <div class="text-center p-4">Here's what others are building...</div>
            <div id="cards" class="container mx-auto flex flex-wrap gap-4">
                {{ if .projects}}
                    {{range .projects}}
                    <div class="max-w-screen-xl rounded-lg border border-gray-200 overflow-hidden shadow-md p-4">
                        <div class="p-4">
                            <div class="flex flex-row">
                                <h5 class="basis-1/3 text-2xl font-bold tracking-tight text-gray-900" style="min-width: 200px;"><a class="underline" href="/users/{{ .UserID}}">{{.Title}}→</a></h5>
                                <p class="basis-2/3 text-right"><b class="font-bold">{{.EnglishTime}}</b></p>
                            </div>
                            <p class="mb-3 font-normal text-gray-700">{{ .Short }}</p>
                            {{ $id := .ProjectID }}
                            {{ $userID := .UserID}}
                            {{ $p := .}}
                            {{ range .LookingFor}}
                                {{if eq . "Backend"}}
                                    {{ $isBE := false }}
                                    {{ range $a := $p.Applicants}}
                                        {{ if eq .ID $userID }}
                                            {{ if eq .Which "backend" }}
                                                {{ $isBE = true }}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    {{ if not $isBE }}
                                        <a
                                                href="/projects/{{$id}}/apply/backend"
                                                data-which="backend"
                                                class="apply-button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-bubble-gum rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                            Apply as Backend
                                        </a>
                                    {{end}}
                                {{end}}


                                {{if eq . "Frontend"}}
                                    {{ $isFE := false }}
                                    {{ range $a := $p.Applicants}}
                                        {{ if eq .ID $userID }}
                                            {{ if eq .Which "frontend" }}
                                                {{ $isFE = true }}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                        {{ if not $isFE }}
                                            <a
                                                    href="/projects/{{$id}}/apply/frontend"
                                                    data-which="frontend"
                                                    class="apply-button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-tahiti rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                                Apply as Frontend
                                            </a>
                                    {{end}}
                                {{end}}

                                {{if eq . "Infra"}}
                                    {{ $isI := false }}
                                    {{ range $a := $p.Applicants}}
                                        {{ if eq .ID $userID }}
                                            {{ if eq .Which "infra" }}
                                                {{ $isI = true }}
                                            {{end}}
                                        {{end}}
                                    {{end}}

                                    {{ if not $isI }}
                                        <a
                                                href="/projects/{{$id}}/apply/infra"
                                                data-which="infra"
                                                class="apply-button inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-purple rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                                            Apply as Infrastructure
                                        </a>
                                    {{end}}
                                {{end}}

                            {{end}}

                            {{ if .FormattedTags }}
                            <div class="w-full flex flex-row">
                                {{ range .FormattedTags}}
                                    <div class="rounded bg-blue m-2 p-2 rounded-full">{{ . }}</div>
                                {{end}}
                            </div>
                            {{end}}

                            <div class="w-full flex flex-row">
                                <p class="mb-3 font-normal m-4"><a href="/users/{{.UserID}}">by {{.DisplayName}}</a></p>
                                {{ if .Started}}
                                <div class="font-normal m-4">Deadline <b class="timer font-bold" data-started="{{ .StartedAt}}"></b></div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                {{else}}
                <p>There's nothing here yet. Consider starting your own project.</p>
                {{end}}
            </div>

        </div>
    </div>
    <!-- End Projects -->
{{template "bottom" .}}
