{{ template "top".}}
{{ template "nav".}}

<!-- Projects -->
<div class="container mx-auto px-4 flex justify-center items-center">
    <div class="max-w-screen-xl rounded-lg overflow-hidden mx-auto">

        <div id="cards" class="container mx-auto flex flex-wrap gap-4">
            {{ $userID := .UserID}}
            {{ if .projects}}
            {{range .projects}}
            <div class="max-w-screen-xl rounded-lg border border-gray-200 overflow-hidden shadow-md p-4">
                <div class="p-4">
                    <div class="flex flex-row">
                        {{ if .Project.Started}}
                        <div class="font-normal m-4">Deadline <b class="timer font-bold" data-started="{{ .Project.StartedAt}}"></b></div>
                        {{end}}
                    </div>
                    <div class="flex flex-row">
                        {{ if .Project.Started}}
                        <div class="w-full text-left m-4">started <b class="font-bold">{{.EnglishStartTime}}</b></div>
                        {{end}}
                        <div class="w-full text-right m-4">created <b class="font-bold">{{.EnglishCreatedTime}}</b></div>
                    </div>
                    <form method="POST" action="/projects/{{ .Project.ProjectID }}" class="px-8 pt-6 pb-8 mb-4">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                                Title
                            </label>
                            <input name="Title" value="{{.Project.Title}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="">
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="short">
                                Description
                            </label>
                            <textarea id="short-input" name="Short" id="short" cols="30" rows="10" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">{{.Project.Short}}</textarea>
                        </div>
                        <div class="mb-6">
                            <label class="relative inline-flex items-center cursor-pointer">
                                <input {{ if .NeedsBackend }} checked {{end}} type="checkbox" name="LookingFor[]" value="Backend" class="sr-only peer">
                                <div class="w-11 h-6 bg-silver peer-focus:outline-none peer-focus:ring-4 peer-focus:blue dark:peer-focus:blue rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:border-midnight after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:bubble-gum peer-checked:bg-blue"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Looking for Backend</span>
                            </label>
                            <label class="relative inline-flex items-center cursor-pointer">
                                <input {{ if .NeedsFrontend }} checked {{end}} type="checkbox" name="LookingFor[]" value="Frontend" class="sr-only peer">
                                <div class="w-11 h-6 bg-silver peer-focus:outline-none peer-focus:ring-4 peer-focus:blue dark:peer-focus:blue rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:border-midnight after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:bubble-gum peer-checked:bg-blue"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Looking for Frontend</span>
                            </label>
                            <label class="relative inline-flex items-center cursor-pointer">
                                <input {{ if .NeedsInfra }} checked {{end}} type="checkbox" name="LookingFor[]" value="Infra" class="sr-only peer">
                                <div class="w-11 h-6 bg-silver peer-focus:outline-none peer-focus:ring-4 peer-focus:blue dark:peer-focus:blue rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:border-midnight after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:bubble-gum peer-checked:bg-blue"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Looking for Infrastructure</span>
                            </label>
                        </div>
                        <div class="flex items-center justify-between">
                            <button type="submit" class="bg-blue hover:bg-blue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Update Project
                            </button>
                            {{if not .Project.Started}}
                            <button onclick="if (confirm('Are you sure?')) { window.location.href='/projects/{{ .Project.ProjectID}}/start'; }" class="bg-purple hover:bg-purple text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Start Project
                            </button>
                            {{end}}
                            <button onclick="if (confirm('Are you sure?')) { window.location.href='/projects/{{ .Project.ProjectID}}/delete'; }" class="bg-danger text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Delete forever
                            </button>
                        </div>
                    </form>

                    <hr>

                    <div class="font-bold m-4">Applicants</div>

                    {{ if eq (len .Project.Applicants) 0}}
                    <p class="m-4">Your project has no applicants.</p>
                    {{end}}

                    {{ $id := .Project.ProjectID }}
                    {{ range .Project.Applicants}}
                    <div class="m-4">{{ .DisplayName }}
                        (<b class="bg-silver" style="color: black;">{{ .Which}}</b>)
                        <a class="bg-bubble-gum text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="/projects/{{ $id}}/approve/{{ .ID }}/{{ .DisplayName}}">Approve</a> |
                        <a class="bg-blue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="/projects/{{ $id}}/deny/{{ .ID }}">Deny</a>

                    </div>
                    {{end}}

                    <hr>

                    <div class="font-bold m-4">Members</div>

                    {{ if eq (len .Project.Members) 0}}
                    <p>Your project has no members.</p>
                    {{end}}

                    {{ $id := .Project.ProjectID }}
                    {{ range .Project.Members}}
                    {{ if not (eq .ID $userID)}}
                    <div class="m-4">{{ .DisplayName }} | <a class="bg-bubble-gum text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" href="/projects/{{ $id}}/remove/{{ .ID }}">Remove</a></div>
                    {{end}}
                    {{end}}
                    <div class="m-4">You</div>
                </div>
            </div>
            {{end}}
            {{else}}
            <p>You haven't created any projects yet!</p>
            {{end}}
        </div>

    </div>
</div>
<!-- End Projects -->

{{ template "bottom".}}
