@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    background-color: #040D12;
}

*{
    color: white;
}

input {
    background-color: #93B1A6;
    color: black;
}

textarea {
    background-color: #93B1A6;
    color: black;
}

.discord-link {
    --border-size: 3px;
    --border-angle: 0turn;
    width: 60vmin;
    height: 50vmin;
    background-image: conic-gradient(
            from var(--border-angle),
            #213,
            #112 50%,
            #213
    ),
    conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2))
    calc(100% - (var(--border-size) * 2)),
    cover;
    background-position: center center;
    background-repeat: no-repeat;

    animation: bg-spin 3s linear infinite;
@keyframes bg-spin {
    to {
        --border-angle: 1turn;
    }
}

&:hover {
     animation-play-state: paused;
 }
}

@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #909;
}

::placeholder { /* Most modern browsers support this now. */
    color:    #909;
}
